* {
  margin: 0;
  scroll-behavior: smooth;
}

.banner {
  background-image: url("./Images/pic3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Products */

.Card {
  /* border: 1px solid #3027ae; */
  /* border: 1px solid #635dc0; */
  width: 100%;
  border: none;
  border: 1px solid #7532f9;
}

.Card:hover {
  box-shadow: 3px 3px 10px gray;
  transition: 0.4s;
}

/* .card-body {
  height: 260px !important;
} */

.cardTitle {
  font-size: 18px;
  font-weight: 700;
  color: #0d0d0d;
}

.cardDetail {
  font-size: 15px;
  color: #0d0d0d;
}

.cardPrice {
  font-size: 20px;
  font-weight: 500;
}

/* ------------------------------ */

/* Footer */

.footer {
  background-color: #0d0d0d;
  color: #ffffff;
  width: 100%;
  padding: 1vmax;
  overflow-x: auto;
}

/* ----------------------------------- */

.custom-bg-login {
  background-image: linear-gradient(150deg, #7532f9, #6fadff);
  color: #ffffff;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.custom-bg-login h1 {
  font-weight: 200;
}

.custom-butn {
  background-image: linear-gradient(150deg, #7532f9, #6fadff);
  background-image: linear-gradient(150deg, #7532f9, #6fadff);
  color: #ffffff;
  border: 3px solid #ffffff;
  border-radius: 25px !important;
}

:hover.custom-butn {
  color: #ffffff;
}

.custom-heading {
  color: #ffffff;
  background-image: linear-gradient(150deg, #7532f9, #6fadff);
  border-radius: 5px;
  font-weight: 200;
}

.custom-text {
  color: #0d0d0d;
  font-size: 20px;
}

:hover.img-hover {
  border-radius: 5px;
  transition: 300ms;
  transform: scale(1.1);
  z-index: 2;
  box-shadow: 0px 3px 10px gray;
}

.cart-items-counter {
  font-size: 15px;
  margin: 1px;
  font-weight: bold;
}

.nav-link {
  color: #0d0d0d !important;
  font-size: 1.6vmax;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  width: 10vmax;
  margin-bottom: 20px;
}

.active {
  color: #7532f9 !important;
}

:hover.nav-link {
  color: #7532f9 !important;
  transition: 0.2;
}

.OLBB {
  border-bottom: 1px solid #7532f9;
}
